*

!/src
!/src/**
!/index.ts
!/tsconfig.json
!/yarn.lock

!/test
!/test/**

!.commitlintrc.yml
!.czrc
!.editoconfig
!.gitignore
!.huskyrc.yml
!.lintstagedrc.yml
!.mocharc.yml
!.npmignore
!.prettierignore
!.prettierrc.yml
!tslint.json

!CODEOWNERS
!CONTRIBUTING.md
!LICENSE
!README.md

!/.github
!/.github/**

!/.snyk

