*

!/src
!/src/**
!/index.ts
!/tsconfig.json
!/yarn.lock

!/test
!/test/**

!/.husky
!/.husky/**

!.editoconfig
!.gitignore
!.lintstagedrc.yml
!.mocharc.yml
!.npmignore
!.eslintrc.cjs

!CODEOWNERS
!CONTRIBUTING.md
!LICENSE
!README.md

!/.github
!/.github/**

!/.snyk

